@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;600;700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* body section */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* paragraph section */
.color-lightgray {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
/* button section */
.btn-primary {
    padding: 21px 25px;
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    border: 0;
}

/* nav section start */
.nav-area {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 40px 228px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title h1 {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    margin-right: 2rem;

    color: #424242;
    font-size: 1.2rem;
    font-weight: 500;
}
/* nav section end */

/* banner section start */
.banner-title {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title h3 {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin: 22px;
}

.btn {
    margin-top: 20px;
}

.banner-img img {
    width: 100%;
    margin-top: 40px;
}
/* banner section end */

/* main section start */
main {
    max-width: 1440px;
    margin: 0 auto;
}
/* features section start */
.features-container {
    padding: 50px;
}

.features-area {
    display: flex;
    align-items: center;
}

.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.features-img img {
    width: 100%;
}

.features-contact {
    margin-right: 70px;
    margin-left: 50px;
}

.color-gray {
    color: #727272;
    font-weight: 500;
}

.color-bold {
    color: #131313;
}

.color-orange {
    color: #FF900E;
}

.features-contact h3 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0px;
}
/* features section end */

/* features love enjoy section start */
.features {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.love-enjoy h3 {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin: 24px 0px;
}

.card {
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
    padding: 30px 33px;
}

.card h5 {
    color: #131313;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0px;
}

.architect-img img {
    height: 90%;
    margin-left: 90px;
}

.ten-year-badge {
    padding: 46px 42px;
    border-radius: 8px;
    background-color: #FF900E;
    width: 342px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten-year-badge h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
    margin: 0px;
}

.ten-year-badge p {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0px;
}
/* features love enjoy section end */

/* facts section start */
.facts-area {
    margin-top: 130px;
}

.facts-area h3 {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0px;
}

.some-facts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 80px 70px;
    margin-top: 100px;
}

.box h3 {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
}

.box p {
    color: #727272;
    font-size: 1.2rem;
    font-weight: 600;
}
/* facts section end */

/* sponspors section start */
.sponspors-area {
    text-align: center;
    margin-top: 170px;
}

.sponspors-title h3 {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0px;
}

.sponspors-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
/* sponspors section end */

/* footer section start */
footer {
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #FFF4E7;
}

.footer {
    margin-top: 130px;
    margin-bottom: 200px;
    text-align: center;
    padding: 39px 410px;
}

.footer small {
    color: #424242;
    font-size: 1.2rem;
    font-weight: 400;
}
/* footer section end */

/* Small devices */
@media screen and (max-width: 576px) {

    nav,
    .features-area,
    .features,
    .some-facts,
    .sponspors-img {
        display: block;
    }

    .nav-area {
        padding: 20px;
        text-align: center;
    }

    .features-container {
        padding: 30px;
    }

    .features-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .features-img img {
        width: 100%;
    }

    .features-contact {
        margin-right: 40px;
        margin-left: 20px;
    }

    .features {
        padding: 10px;
    }

    .ten-year-badge {
        bottom: 0px;
        margin: 0 auto;
        width: 63%;
    }

    .architect-img img {
        width: 100%;
        margin-left: 0px;
    }

    .facts-area {
        padding: 10px;
    }

    .logo-img {
        margin-bottom: 50px;
    }

    .footer {
        padding: 25px 40px;
    }
    footer {
        margin: 10px;
    }

}
/* Medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {

    nav,
    .features-area,
    .features,
    .some-facts,
    .sponspors-img {
        display: block;
    }

    .nav-area {
        padding: 30px;
        text-align: center;
    }

    .features-container {
        padding: 30px;
    }

    .features-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .features-contact {
        margin-right: 50px;
        margin-left: 30px;
    }

    .features {
        padding: 10px;
    }

    .ten-year-badge {
        bottom: 0px;
        margin: 0 auto;
    }

    .architect-img img {
        width: 100%;
        margin-left: 0px;
    }

    .facts-area {
        padding: 10px;
    }

    .logo-img {
        margin-bottom: 50px;
    }

    .footer {
        padding: 25px 40px;
    }
    footer {
        margin: 10px;
    }

}
/* Extra large devices */
@media screen and (min-width: 960px) and (max-width: 1200px) {

    nav,
    .features-area,
    .features,
    .some-facts,
    .sponspors-img {
        display: block;
    }

    .nav-area {
        padding: 50px;
        text-align: center;
    }

    .features-container {
        padding: 40px;
    }

    .features-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .features-contact {
        margin-right: 50px;
        margin-left: 30px;
    }

    .features {
        padding: 20px;
    }

    .ten-year-badge {
        bottom: 0px;
        margin: 0 auto;
    }

    .architect-img img {
        width: 100%;
        margin-left: 0px;
    }

    .facts-area {
        padding: 20px;
    }

    .logo-img {
        margin-bottom: 50px;
    }
    .footer {
        padding: 30px 50px;
    }
    footer {
        margin: 20px;
    }
}